<app-spinner *ngIf="isLoading" />
<div class="container" *ngIf="!isLoading">
  <mat-card>
    <mat-card-title>Add drawing</mat-card-title>
    <mat-card-content>
      <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
      <form #form="ngForm" (ngSubmit)="addDrawingHandler(form)">
        <mat-form-field class="imageField">
          <ngx-mat-file-input accept=".pdf, .tiff" type="file" placeholder="Upload drawing..." name="drawing"
            color="primary" ngModel>
          </ngx-mat-file-input>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Drawing name" name="drawing_name" ngModel required
            #nameInput="ngModel">
          <ng-container *ngIf="nameInput.touched">
            <mat-error *ngIf="nameInput.errors?.['required']">Drawing name is required</mat-error>
          </ng-container>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Drawing number" name="drawing_number" ngModel required
            #numberInput="ngModel">
          <ng-container *ngIf="numberInput.touched">
            <mat-error *ngIf="numberInput.errors?.['required']">Drawing number is required</mat-error>
          </ng-container>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Revision" name="drawing_revision" ngModel required
            #revisionInput="ngModel">
          <ng-container *ngIf="revisionInput.touched">
            <mat-error *ngIf="revisionInput.errors?.['required']">Drawing revision is required</mat-error>
          </ng-container>
        </mat-form-field>
        <mat-form-field class="example-form-field">
          <mat-label>Choose revision date</mat-label>
          <input matInput [matDatepicker]="datepicker" name="revision_date" ngModel required #dateInput="ngModel">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
          <ng-container *ngIf="dateInput.touched">
            <mat-error *ngIf="dateInput.errors?.['required']">Revision date is required</mat-error>
          </ng-container>
        </mat-form-field>

        <button mat-raised-button color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>