header {
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

a {
    color: black;
    color: whitesmoke;
    min-height: 60px;
}

a:hover {
    color: whitesmoke;
}
.nav-tabs {
    border-color: darkslategray;
}