li {
    margin-left: 1.5em;
    margin-top: 15px;
}

a {
    color: rgb(199, 199, 199);
    min-height: 60px;
    text-decoration: none
}

a:hover {
    color: whitesmoke;
}

img {
    width: 48px;
    height: 48px;
}

.dropdown {
    margin-right: 100px;
}

.margin {
    margin-right: 100px;
}

.dropdown-menu {
    background-color: #1a237e;
    border: none;
}
.dropdown-item:hover {
    background-color: #1a237e;
}

.user-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}