<nav class="navbar navbar-expand-lg navbar-indigo bg-indigo mb-3">
  <div class="container-fluid">
    <a class="navbar-brand"> <img src="../../../assets/favicon.png" /></a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" (click)="isMenuCollapsed = true">Parts list</a>
        </li>
        <ng-container *ngIf="isLogged">
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-drawing" (click)="isMenuCollapsed = true">Add drawing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/create-part" (click)="isMenuCollapsed = true">Create Part</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" (click)="getSession()">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
              </svg>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="[user?.id, 'profile']" (click)="isMenuCollapsed = true">Profile</a>
              <a class="dropdown-item" routerLink="/change-password" (click)="isMenuCollapsed = true">Change password</a>
              <a class="dropdown-item" routerLink="/logout" (click)="logout()">Logout</a>
            </div>
          </li>
        </ng-container>
        <ng-container class="margin" *ngIf="!isLogged">
          <ul class="navbar-nav margin">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" (click)="isMenuCollapsed = true">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/register" (click)="isMenuCollapsed = true">Register</a>
            </li>
            </ul>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>