<header>
  <div ngbNav class="nav-tabs">
      <ng-container ngbNavItem>
        <a ngbNavLink routerLink="/">
          <img src="../../../assets/favicon.png" />
        </a>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink routerLink="/parts">Parts</a>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink routerLink="/create-part">Create Part</a>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink routerLink="/login">Login</a>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink routerLink="/register">Register</a>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink routerLink="/login">Logout</a>
      </ng-container>
  </div>
</header>