<app-spinner *ngIf="isLoading" />
<div class="container" *ngIf="!isLoading">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
      <form #loginForm="ngForm" (ngSubmit)="submitLoginHandler(loginForm)">
        <mat-form-field>
          <input matInput type="email" placeholder="Email" name="email" ngModel email required #emailInput="ngModel">
            <mat-error *ngIf="emailInput.errors?.['required']">Email is required</mat-error>
            <mat-error *ngIf="emailInput.errors?.['email']">Email is invalid</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" name="password" ngModel required minlength="6" #passwordInput="ngModel">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
            <mat-error *ngIf="passwordInput.errors?.['minlength']">Password must be at least 6 symbols</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>