<div class="container">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form>
          <mat-form-field>
            <input matInput placeholder="Username" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" required>
          </mat-form-field>
          <button mat-raised-button color="primary">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  