.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  min-height: 82vh;
}
  
  mat-card {
    max-width: 400px;
    width: 100%;
  }
  
  mat-card-title {
    text-align: center;
    font-size: 2.5em;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    width: 100%;
  }
  
.imageField {
  height: 78px;
}

.snak {
  margin-right: 12px;
}