<app-spinner *ngIf="isLoading" />
<div class="container" *ngIf="!isLoading">
    <ng-container *ngIf="!partSubmitted">
        <mat-card>
            <mat-card-title>Create Part</mat-card-title>
            <mat-card-content>
                <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
                <form #form="ngForm" (ngSubmit)="createPartSubmitHandler(form)">
                    <mat-form-field>
                        <mat-label>Select</mat-label>
                        <mat-select type="text" name="drawing_id" ngModel required #drawingIdInput="ngModel">
                            <ng-container *ngFor="let drawing of drawings">
                                <mat-option [value]="drawing.id">{{drawing.drawing_number}}</mat-option>
                            </ng-container>
                        </mat-select>
                        <ng-container *ngIf="drawingIdInput.touched">
                            <mat-error *ngIf="drawingIdInput.errors?.['required']">Drawing selection is
                                required</mat-error>
                        </ng-container>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Part name" name="part_name" ngModel required
                            #partNameInput="ngModel">
                        <ng-container *ngIf="partNameInput.touched">
                            <mat-error *ngIf="partNameInput.errors?.['required']">Part name is required</mat-error>
                        </ng-container>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Part number" name="part_number" ngModel required
                            #partNumberInput="ngModel">
                        <ng-container *ngIf="partNumberInput.touched">
                            <mat-error *ngIf="partNumberInput.errors?.['required']">Drawing selection is
                                required</mat-error>
                        </ng-container>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Index" name="part_index" ngModel required
                            #partIndexInput="ngModel">
                        <ng-container *ngIf="partIndexInput.touched">
                            <mat-error *ngIf="partIndexInput.errors?.['required']">Drawing selection is
                                required</mat-error>
                        </ng-container>
                    </mat-form-field>
                    <mat-form-field class="example-form-field">
                        <mat-label>Choose revision date</mat-label>
                        <input matInput [matDatepicker]="datepicker" name="revision_date" ngModel required
                            #revisionDateInput="ngModel">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                        <ng-container *ngIf="revisionDateInput.touched">
                            <mat-error *ngIf="revisionDateInput.errors?.['required']">Drawing selection is
                                required</mat-error>
                        </ng-container>
                    </mat-form-field>
                    <button mat-raised-button color="primary">Next</button>
                </form>

            </mat-card-content>
        </mat-card>
    </ng-container>

    <!-- Dynamic form-->
    <ng-container *ngIf="partSubmitted">
        <form [formGroup]="dynamicFormGroup" (ngSubmit)="addDimensionsSubmitHandler(dynamicFormGroup)">
            <ng-container class="formHeader">
            <mat-card-title>SPC dimension/s</mat-card-title>
            <mat-error *ngIf="errorMessageForDim">{{errorMessageForDim}}</mat-error>
        </ng-container>
        <!-- Dynamic input fields -->
            <ng-container formArrayName="dimensions" *ngFor="let field of dimensions.controls; let i = index;">
                <div class="field-group" [formGroupName]="i">
                    <mat-form-field appearance="fill">
                        <mat-label>Dimension</mat-label>
                        <input matInput placeholder="dimension" formControlName="dimension" />
                        <mat-error *ngIf="field.get('dimension')?.errors?.['required']">Dimension is
                            required</mat-error>
                        <mat-error *ngIf="field.get('dimension')?.errors?.['pattern']">Dimension must
                            be a number</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Upper limit</mat-label>
                        <input matInput placeholder="UpperLimit" formControlName="upperLimit" />
                        <mat-error *ngIf="field.get('upperLimit')?.errors?.['required']">Upper limit is
                            required</mat-error>
                        <mat-error *ngIf="field.get('upperLimit')?.errors?.['pattern']">Upper limit must
                            be a number</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Lower limit</mat-label>
                        <input matInput placeholder="Upper Limit" formControlName="lowerLimit" />
                        <mat-error *ngIf="field.get('lowerLimit')?.errors?.['required']">Lower limit is
                            required</mat-error>
                        <mat-error *ngIf="field.get('lowerLimit')?.errors?.['pattern']">Lower limit must
                            be a number</mat-error>
                    </mat-form-field>
                    <button mat-mini-fab class="delete" color="warn" aria-label="Example icon button with a delete icon" type="button" (click)="removeForm(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                </div>

            </ng-container>
            <div class="buttons">
                <button mat-raised-button color="accent" type="button" (click)="addNewForm()">Add</button>
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>
        </form>
    </ng-container>
</div>