.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  min-height: 81vh;
}
  
  mat-card {
    max-width: 400px;
    width: 100%;
  }
  
  mat-card-title {
    text-align: center;
    font-size: 1.5rem;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  /* button {
    width: 100%;
  } */
  
.imageField {
  height: 78px;
}

.snak {
  margin-right: 12px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.icon {
  width: 28px;
  height: 28px;
}

.field-group {
  display: flex;
  align-items: flex-start;
}