.container {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    min-height: 81vh;
  }

  .header {
    display: flex;
   justify-content: center; 
   }