<app-spinner *ngIf="isLoading" />
<div class="container" *ngIf="!isLoading">
    <h6>Please note that control limits are based on upper and lower limits! The actual formulas are not yet used in the project!</h6>
    <div class="header">
        <h2 *ngIf="graphArray.length === 0">There is no data about measurements yet!</h2>
    </div>
    <ng-container *ngIf="graphArray.length > 0">
        <ng-container *ngFor="let graph of graphArray">
            <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
        </ng-container>
    </ng-container>
</div>