<div class="container">
    <mat-card>
        <mat-card-title>Change password</mat-card-title>
        <mat-card-content>
            <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
            <form #form="ngForm" (ngSubmit)="submitChangePasswordHandler(form)">
                <mat-form-field>
                    <input matInput type="password" placeholder="New password" name="newPassword" ngModel required
                        #newPassword="ngModel" minlength="6">
                    <mat-error *ngIf="newPassword.errors?.['required']">Password is required</mat-error>
                    <mat-error *ngIf="newPassword.errors?.['minlength']">Password must be at least 6 symbols</mat-error>

                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Repeat new password" name="repNewPassword" ngModel
                        required #repNewPassword="ngModel">
                    <mat-error *ngIf="repNewPassword.value !== repNewPassword.value">Password doesn't match!</mat-error>
                    <mat-error *ngIf="repNewPassword.errors?.['required']">Password is required!</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary">Submit</button>
            </form>
            {{newPassword.value}}
            {{repNewPassword.value}}
        </mat-card-content>
    </mat-card>
</div>