<app-spinner *ngIf="isLoading" />
<div class="container" *ngIf="!isLoading">
  <mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
      <form #form="ngForm" (ngSubmit)="createRegisterHandler(form)">
        <mat-form-field class="imageField">
          <ngx-mat-file-input accept=".png, .jpg, .jpeg" type="file" placeholder="Upload avatar..." name="avatar"
          color="primary" ngModel>
        </ngx-mat-file-input>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" placeholder="Email" name="email" ngModel required email #emailInput="ngModel">
            <mat-error *ngIf="emailInput.errors?.['required']">Email is required</mat-error>
            <mat-error *ngIf="emailInput.errors?.['email']">Email is invalid</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" name="password" ngModel required minlength="6"
            #passwordInput="ngModel">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
              <mat-error *ngIf="passwordInput.errors?.['required']">Password is required</mat-error>
              <mat-error *ngIf="passwordInput.errors?.['minlength']">Password must be at least 6 symbols</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [type]="hideRepassword ? 'password' : 'text'" placeholder="Confirm Password" name="rePassword" ngModel required
            #rePassword="ngModel">
            <button mat-icon-button matSuffix (click)="hideRepassword = !hideRepassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepassword">
              <mat-icon>{{hideRepassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
              <mat-error *ngIf="rePassword.errors?.['required']">Confirm password is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary">Register</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>