.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    min-height: 81vh;
  }

  mat-card {
    max-width: 400px;
    width: 100%;
  }
  
  mat-card-title {
    text-align: center;
    font-size: 1.5rem;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
  }
  
img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin-left: 120px;
  margin-bottom: 10px;
  border: solid 2px blue;
}