<app-spinner *ngIf="isLoading" />
<div class="container" *ngIf="!isLoading">
    <h2 *ngIf="!partSpcDimensions">This part number has no SPC dimensions defined</h2>
    <ng-container *ngIf="partSpcDimensions">
        <mat-card>
            <mat-card-title>Measurements</mat-card-title>
            <mat-card-content>
                <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
                <form #form="ngForm" (ngSubmit)="addDimResultsSubmitHandler(form)">
                    <mat-form-field>
                        <mat-label>Select</mat-label>
                        <mat-select type="text" name="dimensionId" ngModel required #dimensionSelect="ngModel">
                            <ng-container *ngFor="let dim of partSpcDimensions">
                                <mat-option [value]="dim.id">{{dim.dimension}} - (+{{dim.upperLimit}} / -{{dim.lowerLimit}})</mat-option>
                            </ng-container>
                        </mat-select>
                            <mat-error *ngIf="dimensionSelect.errors?.['required']">Choose dimension!</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="First measurement" name="firstMeasurement" ngModel required
                            #firstMeasurement="ngModel">
                            <mat-error *ngIf="firstMeasurement.errors?.['required']">Measurement is required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Second measurement" name="secondMeasurement" ngModel required
                            #secondMeasurement="ngModel">
                            <mat-error *ngIf="secondMeasurement.errors?.['required']">Measurement is required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Third measurement" name="thirdMeasurement" ngModel required
                            #thirdMeasurement="ngModel">
                            <mat-error *ngIf="thirdMeasurement.errors?.['required']">Measurement is required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Fourth measurement" name="fourthMeasurement" ngModel required
                            #fourthMeasurement="ngModel">
                            <mat-error *ngIf="fourthMeasurement.errors?.['required']">Measurement is required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Fifth measurement" name="fifthMeasurement" ngModel required
                            #fifthMeasurement="ngModel">
                            <mat-error *ngIf="fifthMeasurement.errors?.['required']">Measurement is requiredd</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-form-field">
                        <mat-label>Date measured</mat-label>
                        <input matInput [matDatepicker]="datepicker" name="measurementDate" ngModel required
                            #measurementDate="ngModel">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                            <mat-error *ngIf="measurementDate.errors?.['required']">Date of the measurement is required</mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary">Submit</button>
                </form>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>